<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Панель администратора</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet"  th:href="@{/css/bootstrap.min.css}">
    <style>
    .scrollClass {
    height:200px;
    overflow-y: scroll;
    }
    .media-info-list{
        background-color: #397DD5;
        color: #ffff;
    }
    </style>
</head>
<body>
<header th:insert="blocks/header" ::header></header>
<div class="container-xxl border">
    <div class="row border">
        <div class="col-3 border">

                <a class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                    <span class="fs-5 fw-semibold">Панель управления</span>
                </a>
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="mb-1">
                        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#books-collapse" aria-expanded="true">
                            Управление книгами
                        </button>
                        <div class="collapse" id="books-collapse" >
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a class="nav-link active">Добавить книгу</a></li>
                                <li><a href="#" class="nav-link ">Найти книгу</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="mb-1">
                        <button class="btn btn-toggle align-items-center rounded collapsed"  data-bs-toggle="collapse" data-bs-target="#user-collapse" aria-expanded="false">
                            Управление участниками
                        </button>
                        <div class="collapse" id="user-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="#" class="nav-link ">Найти участника</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="mb-1">
                        <button class="btn btn-toggle align-items-center rounded collapsed"  data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                            Статистика
                        </button>
                        <div class="collapse" id="dashboard-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="#" class="nav-link ">Статистика участников</a></li>
                                <li><a href="#" class="nav-link ">Статистика книг</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
        </div>

        <div class="col-9 border">

                    <form method="post" enctype="multipart/form-data" id="bookLoud">
                        <div class="media-info-list p-2">
                            Загрузка новой книги (.ePub)
                        </div>
                    <input class="form-control" type="file" name="file">
                    <input type="hidden" name="_csrf" value="${_csrf.token}" />
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button type="submit" class="btn btn-primary mb-3 " form="bookLoud">Загрузить</button>
                        </div>
                    </form>
            <div class="col-12">
                <div class="media-info-list p-2">
                    Список добавленных книг
                </div>
                <div class="form-select scrollClass">
                    <div th:each="oneBook:${bookList}">
                        <a class="list-group-item list-group-item-action" th:href="@{'/book/' + ${oneBook.id}}" th:text="${oneBook.title}">Book</a>
                    </div>
                </div>

        </div>
    </div>
</div>
</div>


<script src="/js/bootstrap.min.js"></script>
</body>
</html>
