<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Панель администратора</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet"  th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container-xxl">
    <div class="col-12 text-center">
        <img th:src="@{images/bibl.jpg}"  class="img-fluid max-width: 100% height: auto" >
    </div>
    <div class="row gx-5">
        <div class="col-3">

                <a class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                    <span class="fs-5 fw-semibold">Панель управления</span>
                </a>
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="mb-1">
                        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#books-collapse" aria-expanded="true">
                            Управление книгами
                        </button>
                        <div class="collapse" id="books-collapse" >
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a class="nav-link active">Добавить книгу</a></li>
                                <li><a href="#" class="nav-link ">Найти книгу</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="mb-1">
                        <button class="btn btn-toggle align-items-center rounded collapsed"  data-bs-toggle="collapse" data-bs-target="#user-collapse" aria-expanded="false">
                            Управление участниками
                        </button>
                        <div class="collapse" id="user-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="#" class="nav-link ">Найти участника</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="mb-1">
                        <button class="btn btn-toggle align-items-center rounded collapsed"  data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                            Статистика
                        </button>
                        <div class="collapse" id="dashboard-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="#" class="nav-link ">Статистика участников</a></li>
                                <li><a href="#" class="nav-link ">Статистика книг</a></li>
                            </ul>
                        </div>
                    </li>
        </div>

        <div class="col-9">

                    <form method="post" enctype="multipart/form-data" id="bookLoud">
                    <label class="form-label"><strong>Загрузка новой книги </strong><mark>(.ePub)</mark></label>
                    <br/>
                    <input class="form-control" type="file" name="file">
                    <input type="hidden" name="_csrf" value="${_csrf.token}" />
                    <br/>
                    <button type="submit" class="btn btn-primary mb-3" form="bookLoud">Добавить</button>
                    </form>
            <div class="col-12">
                    <span class="input-group-text">Список сохранённых книг:</span>
                    <select class="form-select" size="4" aria-label="size 3 select example">
                        <option th:each="oneBook:${bookList}" th:value="${oneBook.id}" th:text="${oneBook.title}"></option>
                    </select>

        </div>
    </div>
</div>
</div>


<script src="/js/bootstrap.min.js"></script>
</body>
</html>
