<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>NovaLib</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet"  th:href="@{/css/bootstrap.min.css}">
    <style>
        .media-info-list-fix{


            position: sticky;
            top: 0;
        }
        .scrollClass {
        height:250px;
        overflow-y: scroll;
        }
    </style>
</head>
<body>

<header th:insert="blocks/header" ::header></header>

<div class="container-xxl border">
    <div class="text-center display-3" th:text="${book.title}">Title</div>
    <div class="media-info-list-fix p-2 ">
            <nav aria-label="Пример навигации по страницам">
                <ul class="pagination justify-content-center">
                    <li th:if="${previousId!=null}" class="page-item">
                        <a class="page-link" th:href="@{'/book/' + ${book.id} + '/' + ${previousId}}">Предыдущая</a>
                    </li>
                    <li th:if="${previousId == null}" class="page-item disabled">
                        <a class="page-link" th:href="@{'/book/' + ${book.id} + '/' + ${nextId}}">Предыдущая</a>
                    </li>
                    <li class="page-item">
                        <p>
                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            Список всех глав
                        </button>
                        </p>
                    </li>
                    <li th:if="${nextId!=null}" class="page-item">
                        <a class="page-link" th:href="@{'/book/' + ${book.id} + '/' + ${nextId}}">Следующая</a>
                    </li>
                    <li th:if="${nextId == null}" class="page-item disabled">
                        <a class="page-link" th:href="@{'/book/' + ${book.id} + '/' + ${nextId}}">Следующая</a>
                    </li>
                </ul>
            </nav>

            <div class="collapse" id="collapseExample">

                <div class="form-select scrollClass">
                    <div th:each="oneChapter:${chaptersSort}">
                        <div class="list-group-item list-group-item-action" th:href="@{'/book/' + ${book.id} + '/' + ${oneChapter.chapterId}}" th:text="${oneChapter.chapterName}">Chapters</div>
                    </div>
                </div>
            </div>

    </div>
    <div class="row border">
        <p th:utext="${chapterPage.chapterText}"></p>
    </div>
</div>

<header th:insert="blocks/footer" ::footer></header>

<script src="/js/bootstrap.min.js"></script>
</body>
</html>