<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" >
<head>
    <title>NovaLib</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet"  th:href="@{/css/bootstrap.min.css}">
    <style>
        .media-info-list{
        background-color: #397DD5;
        color: #ffff;
        }
        .media-info-list_title{
            color: #9E9E9E;
        }
        .scrollClass {
        height:350px;
        overflow-y: scroll;
        }
        .media-info-list-fix {
        position: sticky;
            top: 0;
        }

    </style>
</head>
<body>

<header th:insert="blocks/header" ::header></header>

<div class="container-xxl ">
    <div class="row">
        <div class="col-3">
            <div class="media-info-list-fix">
                <nav class="navbar bg-light justify-content-center bg-light px-2">
                    <div sec:authorize="isAuthenticated()" class="dropdown">
                        <button class="btn btn-secondary mx-auto d-block dropdown-toggle btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Добавить в закладки
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                            <li><a class="dropdown-item" th:href="@{'/user/bookmark/add/' + ${book.id} + '/1'}">Читаю</a></li>
                            <li><a class="dropdown-item" th:href="@{'/user/bookmark/add/' + ${book.id} + '/2'}">Буду читать</a></li>
                            <li><a class="dropdown-item" th:href="@{'/user/bookmark/add/' + ${book.id} + '/3'}">Прочитано</a></li>
                            <li><a class="dropdown-item" th:href="@{'/user/bookmark/add/' + ${book.id} + '/4'}">Брошено</a></li>
                            <li><a class="dropdown-item" th:href="@{'/user/bookmark/add/' + ${book.id} + '/5'}">Не интересно</a></li>
                        </ul>
                    </div>
                    <div sec:authorize="isAnonymous()" class="dropdown">
                        <button type="button" class="btn btn-secondary mx-auto d-block dropdown-toggle btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Добавить в закладки
                        </button>
                    </div>
                    <img th:src="@{/images/icon_star.png}" class=" d-block" width="16px" height="16px">
                    <div th:text="${book.rating}">Rating</div>
                </nav>
                <img th:src="@{/posters/{name}(name=${book.posterName})}" class="img-fluid mx-auto d-block" width="250px" height="350px">
                <a class="btn btn-success mx-auto d-block" th:href="@{'/book/' + ${book.id} + '/' + ${firstChapter.chapterId}}">
                    Начать читать
                </a>
            <div class="shadow bg-light">
            <div class="row px-2">
                <div class="media-info-list_title ">Название:</div>
                <div th:text="${book.title}">Title</div>
            </div>

            <div class="row px-2">
                <div class="media-info-list_title">Автор:</div>
                <div th:each="oneAuthor: ${book.authors}">
                    <div th:value="${oneAuthor.authorId}" th:text="${oneAuthor.authorName}">Author</div>
                </div>
            </div>

                <div class="row px-2">
                    <div class="media-info-list_title">Колличество глав:</div>
                    <div th:text="${book.chapters.size()}">Chapters</div>
                </div>

            <div class="row px-2">
                <div class="media-info-list_title">Жанр:</div>
                <div th:each="genre: ${book.genres}">
                    <div th:value="${genre.genreId}" th:text="${genre.genreTitle}">Genre</div>
                </div>
            </div>

            <div class="row px-2">
                <div class="media-info-list_title">Издательство:</div>
                <div th:text="${book.publisher}">Publisher</div>
            </div>

            <div class="row px-2">
                <div class="media-info-list_title">Год издания:</div>
                <div th:text="${book.yearPublished}">yearPublished</div>
            </div>

            <div class="row px-2">
                <div class="media-info-list_title">Страна:</div>
                <div th:text="${book.country}">Country</div>
            </div>

            <div class="row px-2">
                <div class="media-info-list_title">Рейтинг:</div>
                <div th:text="${book.rating}">Rating</div>
            </div>
            </div>
            </div>
        </div>

        <div class="col-9">
            <br/>
            <div class="text-center display-3" th:text="${book.title}">Title</div>
            <div class="media-info-list p-2">
                Описание
            </div>
            <div class=" shadow border bg-light p-2">
                <p th:text="${book.description}"></p>
            </div>
            <br/>
            <div class="media-info-list p-2">
                Жанры
            </div>
            <div>
            <div class="shadow btn-group" role="group" aria-label="Basic outlined example" th:each="genre: ${book.genres}">
                <a type="button" class="btn btn-outline-primary" th:href="@{'/catalog/byGenre/' + ${genre.genreId}}" th:text="${genre.genreTitle}">Left</a>
            </div>
            </div>

            <br/>
            <div class="media-info-list p-2">
                Список глав
            </div>
            <div class="shadow form-select scrollClass">

                <div th:insert="blocks/paginationChapters"></div>
                <div th:each="oneChapter:${chapters.page}">
                        <div class="input-group mb-1 border">
                            <a class="form-control list-group-item list-group-item-action" th:href="@{'/book/' + ${book.id} + '/' + ${oneChapter.chapterId}}" th:text="${oneChapter.chapterName}">Chapters</a>
                        </div>
                </div>
            </div>

            <div th:insert="blocks/paginationChapters"></div>
        <form id="deleteBook" th:method="delete" th:action="@{'/book/' + ${book.id}}">
        </form>
        <div sec:authorize="hasRole('ROLE_ADMIN')" class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a th:href="@{'/book/edit/' + ${book.id}}" class="btn btn-outline-success" role="button">Редактировать книгу</a>
            <button type="submit" class="btn btn-outline-danger" form="deleteBook">Удалить книгу</button>
        </div>
    </div>
</div>
</div>


<header th:insert="blocks/footer" ::footer></header>

<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>
