<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Панель администратора</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet"  th:href="@{/css/bootstrap.min.css}">
    <style>
        .media-info-list_title{
            color: #9E9E9E;
        }
    </style>
</head>
<body>
<br/>
<div class="container-xxl">
    <div class="row gx-10">
        <div class="col-3 ">
            <div>
            <img th:src="@{/posters/{name}(name=${book.posterName})}" class="rounded mx-auto d-block" width="250px" height="350px">
                <a class="btn btn-primary mx-auto d-block" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
                    Загрузить новый постер
                </a>
                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Загрузите новое изображение</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Закрыть"></button>
                    </div>

                    <form method="post" enctype="multipart/form-data" th:action="@{/admin/books/save/bookPoster}" id="posterLoud">
                        <input class="form-control" type="file" name="file">
                        <br/>
                        <button type="submit" class="btn btn-primary mb-3" form="posterLoud">Загрузить</button>
                    </form>

                </div>
            </div>
            <div class="row gx-10">
                <div class="media-info-list_title">Название:</div>
                <div th:text="${book.title}">Title</div>
            </div>

            <div class="row gx-10">
                <div class="media-info-list_title">Автор:</div>
                <div th:each="oneAuthor: ${book.authors}">
                    <div th:value="${oneAuthor.authorId}" th:text="${oneAuthor.authorName}">Author</div>
                </div>
            </div>

            <div class="row gx-10">
                <div class="media-info-list_title">Жанр:</div>
                <div th:each="genre: ${book.genres}">
                    <div th:value="${genre.genreId}" th:text="${genre.genreTitle}">Genre</div>
                </div>
            </div>

            <div class="row gx-10">
                <div class="media-info-list_title">Издательство:</div>
                    <div th:text="${book.publisher}">Publisher</div>
            </div>

            <div class="row gx-10">
                <div class="media-info-list_title">Дата релиза:</div>
                    <div th:text="${book.published}">Published</div>
            </div>

            <div class="row gx-10">
                <div class="media-info-list_title">Страна:</div>
                    <div th:text="${book.country}">Country</div>
            </div>

            <div class="row gx-10">
                <div class="media-info-list_title">Описание:</div>
                <textarea class="form-control" placeholder="Описание" style="height: 100px" th:text="${book.description}"></textarea>
            </div>

        </div>
        <div class="col-9">
            <form method="post" th:action="@{/admin/books/save/author}" id="authorForm">
                <span class="input-group-text">Добавьте автора:</span>
                <input type="text" class="form-control" placeholder="Автор" form="authorForm" th:field="${authorForm.authorName}">
                <span class="input-group-text">
                        <div class="row gx-10 px-3" th:each="oneAuthor: ${book.authors}">
                            <div class="col-1">
                                <span th:value="${oneAuthor.authorId}" th:text="${oneAuthor.authorName}">Автор</span>
                            </div>
                        </div>
                    </span>
                <button type="submit" class="btn btn-outline-primary" form="authorForm">Сохранить автора</button>
            </form>
            <br/>

            <form method="post" th:action="@{/admin/books/save/genre}" id="genreForm">
                <span class="input-group-text">Выберите жанр:</span>
                <select class="form-select" th:field="${genreForm.genreId}" size="4" aria-label="size 3 select example" form="genreForm">
                    <option th:each="oneGenre:${genreList}" th:value="${oneGenre.genreId}" th:text="${oneGenre.genreTitle}"></option>
                </select>
                <span class="input-group-text">
                        <div class="row gx-10 px-3" th:each="genre: ${book.genres}">
                            <div class="col-1">
                                <span th:value="${genre.genreId}" th:text="${genre.genreTitle}">Название жанра</span>
                             </div>
                        </div>
                    </span>
                <button type="submit" class="btn btn-outline-primary" form="genreForm">Добавить жанр</button>
            </form>
            </br>

            <form method="post" th:action="@{/admin/books/save}" th:object="${book}" id="bookForm">

                <span class="input-group-text">Введите название книги:</span>
                <input type="text" class="form-control" placeholder="Название" form="bookForm" th:field="*{title}">
                <br/>
                <span class="input-group-text">Введите издательство:</span>
                <input type="text" class="form-control" placeholder="Издательство" th:field="*{publisher}" form="bookForm">
                <br/>
                <span class="input-group-text">Введите дату релиза:</span>
                <input type="date" class="form-control" placeholder="Дата релиза" form="bookForm" th:field="*{published}">
                <br/>
                <span class="input-group-text">Введите страну:</span>
                <input type="text" class="form-control" placeholder="Страна" form="bookForm" th:field="*{country}">
                <br/>
                <span class="input-group-text">Введите описание:</span>
                <textarea class="form-control" placeholder="Описание" style="height: 100px" th:field="*{description}" form="bookForm"></textarea>
                <br/>
            </form>
                <button type="submit" class="btn btn-outline-primary" form="bookForm">Сохранить книгу</button>
        </div>
    </div>
</div>

<script src="/js/bootstrap.min.js"></script>
</body>
</html>
