<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>NovaLib - каталог</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet"  th:href="@{/css/bootstrap.min.css}">
    <style>
    .card-img-top {
        width: 90%;
        height: 13vw;
        object-fit: cover;
    }
    .media-info-list{
        background-color: #397DD5;
        color: #ffff;
    }
    .scrollClass {
        height:350px;
        overflow-y: scroll;
    }
    </style>
</head>
<body>

<header th:insert="blocks/header" ::header></header>

<div class="container-xxl">

    <div class="text-center display-3">Поиск</div>

    <div class="row">
            <div class="col-2 border text-center shadow" th:each="book: ${books.page}">
                <nav class="navbar bg-light justify-content-end p-1 px-1">
                    <div th:insert="blocks/bookmark"></div>
                    <img th:src="@{/images/icon_star.png}" class=" d-block" width="16px" height="16px">
                    <div th:text="${book.rating}">Rating</div>
                </nav>
                <img th:src="@{/posters/{name}(name=${book.posterName})}" class="card-img-top mx-auto d-block" width="175px" height="238px">
                <a class="list-group-item-action" th:href="@{'/book/' + ${book.id}}" th:text="${book.title}">Title</a>
            </div>
    </div>


    <nav aria-label="Page navigation" class="paging">
        <ul class="pagination" th:if="${books.page.totalPages > 1}">
            <li class="page-item" th:classappend="${!books.paging.isPrevEnabled()? 'disabled' : ''}">
                <a class="page-link" th:href="@{'/search?pageNumber=' + ${books.paging.pageNumber - 1}}"
                   tabindex="-1">Previous</a>
            </li>
            <th:block th:each="item : ${books.paging.getItems()}">
                <li class="page-item" th:classappend="${item.index == books.paging.pageNumber? 'active' : ''}"
                    th:if="${item.pageItemType.name() == 'PAGE'}">
                    <a class="page-link" th:href="@{'/search?pageNumber=' + ${item.index}}"
                       th:text="${item.index}"></a>
                </li>
                <li class="page-item disabled" th:if="${item.pageItemType.name() == 'DOTS'}">
                    <a class="page-link" href="#">...</a>
                </li>
            </th:block>
            <li class="page-item" th:classappend="${!books.paging.isNextEnabled()? 'disabled' : ''}">
                <a class="page-link" th:href="@{'/search?pageNumber=' + ${books.paging.pageNumber + 1}}">Next</a>
            </li>
        </ul>
    </nav>

</div>


<header th:insert="blocks/footer" ::footer></header>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>