<div th:fragment="bookmark">
    <div sec:authorize="isAuthenticated()" class="d-grid gap-2 d-md-flex justify-content-md-end">
    <div th:if="${reading.contains(book.id)}" class="text-bg-info mx-auto d-block btn-sm">
        Читаю
    </div>
        <div th:if="${will.contains(book.id)}" class="text-bg-info mx-auto d-block btn-sm">
            Буду читать
        </div>
        <div th:if="${finished.contains(book.id)}" class="text-bg-info mx-auto d-block btn-sm">
            Прочитано
        </div>
        <div th:if="${stopped.contains(book.id)}" class="text-bg-info mx-auto d-block btn-sm">
            Брошено
        </div>
        <div th:if="${not_interesting.contains(book.id)}" class="text-bg-info mx-auto d-block btn-sm">
            Не интересно
        </div>
    </div>
</div>