<div th:fragment="header">
    <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/" class="nav-link px-2 text-white">Главная</a></li>
                    <li><a href="/catalog" class="nav-link px-2 text-white">Каталог</a></li>
                    <li><a href="/book/random" class="nav-link px-2 text-white">Мне повезёт</a></li>
                    <li><a href="/admin" class="nav-link px-2 text-white">Панель администратора</a></li>
                </ul>

                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 " th:action="@{/catalog/search}" th:method="get">
                    <input type="text" name="keyword" th:value="${keyword}" class="form-control form-control-dark" placeholder="Название..." size="50" aria-label="Search">
                </form>

                <div class="text-end">
                    <button type="button" class="btn btn-outline-light me-2">Войти</button>
                </div>
            </div>
        </div>
    </header>
</div>