<div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row text-dark gy-2 px-3">
                <form th:action="@{/register}" th:method="post" th:object="${userDto}">

                        <p class="modal-title">Регистрация</p>
                        <input type="text" class="form-control" th:field="*{userName}" placeholder="Введите логин">
                        <small class="form-text text-danger" th:each="err : ${#fields.errors('userName')}" th:if="${param.error != null}" th:text="${err}">Validation error</small>
                        <input type="password" class="form-control" th:field="*{userPassword}" placeholder="Введите пароль">
                        <small class="form-text text-danger" th:if="${param.error != null}" th:text="${err}">Validation error</small>
                        <input type="password" class="form-control" th:field="*{repeatUserPassword}" placeholder="Повторите пароль">
                        <small class="form-text text-danger" th:if="${param.error != null}" th:text="${err}">Validation error</small>
                        <button type="submit" class="btn btn-primary" data-bs-toggle="modal">Зарегестрироваться</button>

                </form>
                </div>
            </div>
            <div class="modal-footer">

            </div>

        </div>
    </div>
</div>